#index-banner.parallax-container
  .section.no-pad-bot
    .container
      %br/
      %br/
      %h1.header.center.teal-text.text-lighten-2 Get a job Ya Hippy!
      .row.center
        %h5.header.col.s12.light A tool used to find, filter, track, and get a programming job.
      .row.center
        %a#download-button.btn-large.waves-effect.waves-light.teal.lighten-1{:href => "http://materializecss.com/getting-started.html"} Get Started
      %br/
      %br/
  .parallax
    %img{:alt => "Unsplashed background img 1", :src => "background1.jpg"}
.container
  .section
    / Icon Section
    .row.center
      .col.s12.m4
        .icon-block
          %h2.center.brown-text
            %i.material-icons flash_on
          %h5.center Find Jobs
          %p.light Our scraper scrapes popular job boards to give you a clean and ad free listing of jobs.
      .col.s12.m4
        .icon-block
          %h2.center.brown-text
            %i.material-icons group
          %h5.center Filter Jobs
          %p.light Use our search tools to narrow your search to what you really want. 
      .col.s12.m4
        .icon-block
          %h2.center.brown-text
            %i.material-icons settings
          %h5.center Track Jobs
          %p.light Save Jobs. Track Jobs. Comment on Jobs. Our tool makes it east. The job search shoudln't suck.
.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        %h5.header.col.s12.light This is a super cool classic car but I don't know why its here really.
  .parallax
    %img{:alt => "Unsplashed background img 2", :src => "background2.jpg"}
.container
  .section
    .row
      .col.s12.center
        %h3
          %i.mdi-content-send.brown-text
        %h4 Contact Us
        %p.left-align.light If you have any problems feel free to contact me or tell me in person. If you have changes that you would like me to make let me know. If you encounter a bug let me know. If this helps you land a job be sure to grab me a beer. Thanks
.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        %h5.header.col.s12.light This is a super cool mountain photo but I don't know why its here either.
  .parallax
    %img{:alt => "Unsplashed background img 3", :src => "background3.jpg"}